.site-header {
  background-color: #053940;
  color: #ecfdf9;
  height: 100vh;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site-header-content {
  margin: 10px;
}

.profile-pic {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  align-self: center;
  box-shadow: black 2px 10px 50px;
}

.hyper-link {
  color: yellow;
}

body {
  margin: 0;
}
